section{
  height: 100vh;
}
.hero-content{
  min-height: 800px;
  display: flex;
  justify-content: center;
  border: 5px solid black;
  align-items: center;
  flex-wrap: wrap;
}
.name{
  min-width: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
}
.hello{
  min-width: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center
}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.about-content{
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 5px solid black;
  align-items: center;
  flex-wrap: wrap;
}
.john{
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about{
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
